
.category-boxes .category-logo, .category-boxes-with-topics .category-logo {
    display: block !important;
}

.category-boxes .category-box-heading .badge-category.--style-square::before, .category-boxes-with-topics .category-box-heading .badge-category.--style-square::before {
    display: none;
}
